<ion-view title="Profile">
    <ion-content padding="'true'" class="has-header">
	
		
		

		

		

        
		<ion-list>
            
			<ion-item class="item-divider">Detials</ion-item>
			
			
			<label class="item item-input">
                <span class="input-label">Name</span>
				<textarea placeholder="" readonly> {{" "+loggedin_name}}</textarea>
            </label>
			
			<label class="item item-input">
                <span class="input-label">Email</span>
				<textarea placeholder="" readonly>{{" "+loggedin_id}} </textarea>
            </label>

			<label class="item item-input">
                <span class="input-label">Phone</span>
				<textarea placeholder="" readonly > {{" "+loggedin_phone}}</textarea>
            </label>
	
            
            <label class="item item-input">
                <span class="input-label">Address</span>
				<textarea placeholder="" readonly > {{" "+loggedin_address}}</textarea>
            </label>
			
            <label class="item item-input">
                <span class="input-label">Pincode</span>
                <textarea placeholder="" readonly > {{" "+loggedin_pincode}}</textarea>
            </label>
			
		
		<div class="button-bar">
            <a href="#/page10" class="button button-stable button-block  icon ion-android-alarm-clock"></a>
            <a href="#/page11" class="button button-stable button-block  icon ion-edit"></a>
            <a href="#/page12" class="button button-stable button-block  icon ion-android-favorite"></a>
        </div>
		
			<button ng-click="logout()" class="button button-balanced button-block  icon-left ion-log-out">Logout</button>
			
			<a href="tel:+918281787181" class="button button-calm button-block  icon-left ion-android-call">Call Us</a>
			
	        </ion-list>
        
    </ion-content>
</ion-view>